/__pycache__
/*.bak
/pyACA/__pycache__
/.spyproject
/.vs/pyACA/v16/*.suo
/build/lib/pyACA
/dist
/pyACA.egg-info
/pyACA/*.bak
/TestResults
/tests/.pytest_cache/v/cache
/tests/__pycache__
/tests/*.bak
/.vs/pyACA/v16/TestStore/0/*.testlog
/.vs/pyACA/v16/TestStore/0/testlog.manifest
/.vs/pyACA/v17/*.suo
/.vs/pyACA/v17/TestStore/1/*.testlog
/.vs/pyACA/v17/TestStore/1/*.manifest
/pyACA/*.user
